/* ********************************** */
/* GENERAL */
/* ********************************** */

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  background-color: #212529;
  border-radius: 3px;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #373b3e;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.785);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
}
.grid--col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid--col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid--col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}
